In [27]:
import numpy as np
import pandas as pd
import pandas_datareader.data as web
from datetime import datetime, timedelta
import altair as alt
from pandas.io.json import json_normalize
import requests
import yahoo_fin.stock_info as yf
from alpha_vantage.fundamentaldata import FundamentalData
import json
from fbprophet import Prophet 

D = 400
date_D_days_ago = datetime.now() - timedelta(days=D)
now = datetime.now()

start_date = date_D_days_ago.strftime('%F')
end_date = now.strftime('%F')

apikey='2HCDHLMKIK99309W'
tech_stocks = ['AAPL', 'PTON', 'TSLA']


tech_stocks[0]


# Operating CashFlow minus Capital Expenditures

'AAPL'

In [5]:
#Get Data from Yahoo
def StockData(ticker, start_d, end_d):
    data = web.get_data_yahoo(ticker, start = start_d, end = end_d)
    price =  pd.DataFrame(data['Adj Close'])
    
    #volume = pd.DataFrame(data['Volume'])
    return price

In [6]:
price = StockData(tech_stocks,start_date,end_date)

In [ ]:
test = price[tech_stocks[0]].reset_index()

test.rename(columns ={'Date':'ds','AAPL':'y'}, inplace=True)

In [ ]:
prophet = Prophet()
prophet.fit(test)

In [ ]:
future_prices=prophet.make_future_dataframe(periods=365)
future = prophet.predict(future_prices)

In [ ]:
f = future[['ds','trend','yhat_lower','yhat_upper']]

In [ ]:
f

In [ ]:

f = f.melt('ds', var_name='bands', value_name='price')
f

In [ ]:
pic = alt.Chart(f).mark_line().encode(
        x='ds:T',
        y='price:Q',
        color='bands:N', tooltip=['bands:N', 'ds:N','price:N']
    )

In [ ]:
pic

In [ ]:
prophet.plot_components(future)

In [ ]:
test.columns = ['a','b']

In [ ]:
test

In [ ]:
df1 = pd.DataFrame({'key' : ['a','b','c'],'value': range(3)}, index = ['a1','x2','a3'])
df2 = pd.DataFrame({'key' : ['x','y','x','v'],'stuff': range(4)}, index = ['a1','a2','a3','a4'])

In [ ]:
df1

In [ ]:
df2

In [ ]:
df1.combine_first(df2)

In [ ]:
df1.index.str.match('a3').any()

In [ ]:
df1.columns.values[0]

In [ ]:
%pip install streamlit-disqus

In [18]:
win = yf.get_day_gainers()
win = win.sort_values(by='Market Cap',ascending = False).head(5).sort_values(by='% Change',ascending = False)

In [19]:
win

,Symbol,Name,Price (Intraday),Change,% Change,Volume,Avg Vol (3 month),Market Cap,PE Ratio (TTM)
14,CICHF,China Construction Bank Corporation,0.84,0.105,14.29,2.199900e+13,9.271100e+13,2.240200e+11,5.42
36,JDCMF,"JD.com, Inc.",49.35,3.740,8.20,3.113300e+13,7.380000e+13,1.540560e+11,NaN
61,ABNB,"Airbnb, Inc.",211.66,11.780,5.89,5.257000e+06,9.675000e+06,1.264560e+11,NaN
77,PDD,Pinduoduo Inc.,199.61,9.850,5.19,6.608000e+06,9.621000e+06,2.447880e+11,NaN
82,TM,Toyota Motor Corporation,161.56,7.560,4.91,1.400000e+06,3.003660e+14,2.228350e+11,9.88

In [20]:
lose = yf.get_day_losers()
lose = lose.sort_values(by='Market Cap',ascending = False).head(5).sort_values(by='% Change',ascending = True)

In [21]:
lose

,Symbol,Name,Price (Intraday),Change,% Change,Volume,Avg Vol (3 month),Market Cap,PE Ratio (TTM)
8,DFIFF,Diamond Fields Resources Inc.,0.1588,-0.0219,-12.10,3.884900e+13,6.276200e+13,8.389100e+10,NaN
45,AMKBY,A.P. Møller - Mærsk A/S,10.2700,-0.7200,-6.55,3.165920e+14,1.451850e+14,3.759800e+10,14.17
49,PLTR,Palantir Technologies Inc.,35.7000,-2.4700,-6.47,4.496900e+07,7.249200e+07,6.704200e+10,NaN
72,TSLA,"Tesla, Inc.",804.8200,-44.6400,-5.26,3.526000e+07,4.271500e+07,7.725100e+11,1257.53
80,CMPGY,Compass Group PLC,19.2600,-1.0400,-5.12,5.166030e+14,3.014040e+14,3.417200e+10,20.51

In [22]:
active = yf.get_day_most_active()
active = lose.sort_values(by='Market Cap',ascending = False).head(5)

In [23]:
active

,Symbol,Name,Price (Intraday),Change,% Change,Volume,Avg Vol (3 month),Market Cap,PE Ratio (TTM)
72,TSLA,"Tesla, Inc.",804.8200,-44.6400,-5.26,3.526000e+07,4.271500e+07,7.725100e+11,1257.53
8,DFIFF,Diamond Fields Resources Inc.,0.1588,-0.0219,-12.10,3.884900e+13,6.276200e+13,8.389100e+10,NaN
49,PLTR,Palantir Technologies Inc.,35.7000,-2.4700,-6.47,4.496900e+07,7.249200e+07,6.704200e+10,NaN
45,AMKBY,A.P. Møller - Mærsk A/S,10.2700,-0.7200,-6.55,3.165920e+14,1.451850e+14,3.759800e+10,14.17
80,CMPGY,Compass Group PLC,19.2600,-1.0400,-5.12,5.166030e+14,3.014040e+14,3.417200e+10,20.51

{'quarterly_results':      date  actual  estimate
 0  1Q2020    0.23     -0.06
 1  2Q2020    0.44     -0.04
 2  3Q2020    0.76      0.58
 3  4Q2020    0.80      1.03,
 'yearly_revenue_earnings':    date      revenue    earnings
 0  2017  11759000000 -1962000000
 1  2018  21461000000  -976000000
 2  2019  24578000000  -862000000
 3  2020  31536000000   721000000,
 'quarterly_revenue_earnings':      date      revenue   earnings
 0  1Q2020   5985000000   16000000
 1  2Q2020   6036000000  104000000
 2  3Q2020   8771000000  331000000
 3  4Q2020  10744000000  270000000}